.dbg {
  border-style: solid;
  color: red;
}

.dbgB {
  border-style: solid;
  color: blue;
}

.mainCart {
  position: static;
  max-width: 100%;
  padding: 5%;
  background: #ffffff;
}

.cartTitle {
  position: relative;
  width: 299px;
  height: 68px;
  text-transform: uppercase;
  padding-top: 50px;
  font-family: "Raleway";
  font-style: bold;
  font-weight: 700;
  font-size: 42px;
  line-height: 160%;

  display: block;
  align-items: center;

  color: #1d1f22;
}

.cartHolder {
  position: relative;
  width: 1240px;
  min-height: 200px;
  /* height: 600px; */
  /* max-height: 600px; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.cartHolderMini {
  position: relative;
  width: 1240px;
  min-height: fit-content;
  max-width: 325px;
  /* height: 600px; */
  /* max-height: 600px; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cartItem {
  position: relative;
  display: block;
  /* left: 60px; */
  /* right: 2%;
    top: 2%; */
  width: 100%;
  height: fit-content;
  display: flex;
  padding-top: 0px;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.horizontalLine {
  width: 100%;
  background-color: #e5e5e5;
  margin: 2px;
  border: 1px solid #e5e5e5;
}

.cartInfo {
  position: relative;
  display: block;
  padding: 0px;
  padding-top: 0px;
  /* right: 90%; */
  /* height: 600px;
    width: 400px; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: flex-start;
  align-items: flex-start;
}

.cartBrand {
  position: relative;
  /* top: 50px; */
  width: 300px;
  /* width: 299px;
    height: 68px; */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  /* padding-left: 15%; */
  /* display: block; */
  align-items: center;
  margin: 0%;

  color: #1d1f22;
}

.cartBrandSmall {
  position: relative;
  /* top: 50px; */
  width: fit-content;
  /* height: 68px; */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  padding-left: 15px;
  /* display: block; */
  align-items: center;
  margin: 0%;

  color: #1d1f22;
}

.cartSpeceficProduct {
  position: relative;
  /* top: 50px; */
  width: 300px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  padding-top: 4%;
  /* display: block; */
  align-items: center;
  margin: 0%;
  color: #1d1f22;
}

.cartSpeceficProductSmall {
  position: relative;
  /* top: 50px; */
  width: fit-content;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  /* display: block; */
  padding-left: 15px;
  align-items: center;
  margin: 0%;
  color: #1d1f22;
}

.cartPrice {
  position: relative;
  /* top: 140px; */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  padding-top: 5%;
  /* display: block; */
  align-items: center;
  margin: 0%;
  text-transform: uppercase;
  color: #1d1f22;
}

.cartPriceSmall {
  position: relative;
  /* top: 140px; */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  padding-top: 5%;
  /* display: block; */
  padding-left: 15px;
  align-items: center;
  margin: 0%;
  text-transform: uppercase;
  color: #1d1f22;
}

.cartAttributes {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 0%;
  /* top:100px */
}

.cartAttributesSmall {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
  /* top:100px */
}

.cartAttText {
  position: relative;
  /* top: 100px; */
  /* width: 200px; */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  padding-top: 10%;
  /* display: block; */
  align-items: center;
  margin: 0%;
  text-transform: uppercase;
  color: #1d1f22;
}

.cartAttTextSmall {
  position: relative;
  /* top: 100px; */
  /* width: 200px; */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  padding-top: 2%;
  padding-left: 15px;
  /* display: block; */
  align-items: center;
  margin: 0%;
  text-transform: uppercase;
  color: #1d1f22;
}

.cartSingleAttSelected {
  position: relative;
  width: fit-content;
  min-width: 63px;
  height: 45px;
  /* top: 100px; */
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* padding-left: 15%; */
  /* display: block; */
  line-height: 45px;
  align-items: center;
  text-align: center;
  margin: 0%;
  text-transform: uppercase;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  box-sizing: 1px;
  transition: 0.3s;
  border-color: #1d1f22;
  background-color: #1d1f22;
}

.cartSingleAttSelectedSmall {
  position: relative;
  width: 24px;
  height: 24px;
  min-width: fit-content;
  /* top: 100px; */
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* padding-left: 15%; */
  /* display: block; */
  line-height: 24px;
  align-items: center;
  text-align: center;
  margin: 0%;
  text-transform: uppercase;
  color: #1d1f22;
  border-style: solid;
  border-width: 1px;
  box-sizing: 1px;
  border-color: #1d1f22;
  background-color: #ffffff;
}

.cartSingleAttSelectedSwatch {
  position: relative;
  width: fit-content;
  min-width: 31.5px;
  height: 31.5px;
  /* top: 100px; */
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* padding-left: 15%; */
  /* display: block; */
  line-height: 45px;
  align-items: center;
  text-align: center;
  margin: 0%;
  text-transform: uppercase;
  color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #5ece7b;
  transition: 0.3s;
  padding: 1px;
  background-clip: content-box;
}
.cartSingleAttSmallSwatch {
  position: relative;
  width: fit-content;
  min-width: 16px;
  height: 16px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 45px;
  align-items: center;
  text-align: center;
  margin: 0%;
  text-transform: uppercase;
  color: #292929;
  border-style: solid;
  border-width: 1px;
  box-sizing: 1px;
  /* padding: 1px; */

  background-clip: content-box;
}

.cartSingleAttSelectedSwatchSmall {
  position: relative;
  width: 16.5px;
  min-width: fit-content;
  height: 16.5px;
  /* top: 100px; */
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* padding-left: 15%; */
  /* display: block; */
  line-height: 24px;
  align-items: center;
  text-align: center;
  margin: 0%;
  text-transform: uppercase;
  color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #5ece7b;
  padding: 1px;
  background-clip: content-box;
}

.cartSingleAttSwatch {
  position: relative;
  width: fit-content;
  min-width: 32px;
  height: 32px;
  /* top: 100px; */
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* padding-left: 15%; */
  /* display: block; */
  line-height: 45px;
  align-items: center;
  text-align: center;
  margin: 0%;
  text-transform: uppercase;
  color: #1d1f22;
  border-style: solid;
  border-width: 1px;
  box-sizing: 1px;
  transition: 0.3s;
  border-color: #1d1f22;
}

.cartSingleAtt {
  position: relative;
  width: fit-content;
  min-width: 63px;
  height: 45px;
  /* top: 100px; */
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* padding-left: 15%; */
  /* display: block; */
  line-height: 45px;
  align-items: center;
  text-align: center;
  margin: 0%;
  text-transform: uppercase;
  color: #1d1f22;
  border-style: solid;
  border-width: 1px;
  box-sizing: 1px;
  transition: 0.3s;
  border-color: #1d1f22;
}

.cartSingleAttSmall {
  position: relative;
  width: 24px;
  height: 24px;
  min-width: fit-content;
  /* top: 100px; */
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* padding-left: 15%; */
  /* display: block; */
  line-height: 24px;
  align-items: center;
  text-align: center;
  margin: 0%;
  text-transform: uppercase;
  color: #a6a6a6;
  background-color: rgba(166, 166, 166, 0.2);
  border-style: solid;
  border-width: 1px;
  box-sizing: 1px;
  border-color: #a6a6a6;
}

.cartOpt {
  position: relative;
  display: block;
  height: 288px;
  padding: 0px;
  padding-top: 0px;
  /* right: 90%; */
  /* height: 600px;
    width: 400px; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: center;
}

.cartOptSmall {
  position: relative;
  display: block;
  height: 190px;
  padding: 0px;
  padding-right: 15px;
  /* right: 90%; */
  /* height: 600px;
    width: 400px; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: center;
}

.imgOptions {
  position: relative;
  display: block;

  height: 96%;
  padding-right: 5%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.cartCount {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.cartCountSmall {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.smallImg {
}

.smallCartImg {
  position: relative;
  width: 200px;
  height: 288px;
  display: block;
  object-fit: contain;
  transition: 0.3s;
}

.smallCartImgSmall {
  position: relative;
  width: 121px;
  height: 190px;
  display: block;
  object-fit: contain;
}

.cartButton {
  height: 40px;
  width: 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100;
  font-size: 70px;
  margin: 0%;
  border-style: solid;
  border-width: 1px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}

.cartButtonD {
  height: 40px;
  width: 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100;
  font-size: 70px;
  margin: 0%;
  border-style: solid;
  border-width: 1px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}

.cartButtonSmall {
  height: 24px;
  width: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  margin: 0%;
  border-style: solid;
  border-width: 1px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  /* transition: 0.1s; */
}

.cartButtonSmallD {
  height: 24px;
  width: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  margin: 0%;
  border-style: solid;
  border-width: 1px;
  align-items: center;
  text-align: center;
  /* transition: 0.1s; */
  line-height: 20px;
}

.cartButton:hover {
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

.cartButtonD:hover {
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

.cartButtonSmall:hover {
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

.cartButtonSmallD:hover {
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

.arrowRCartImg {
  position: absolute;
  height: 24px;
  width: 24px;
  top: 255px;
  left: 205px;
  z-index: 1;
  transition: 0.3s;
}

.arrowLCartImg {
  position: absolute;
  height: 24px;
  width: 24px;
  top: 255px;
  left: 175px;
  z-index: 1;
  transition: 0.3s;
}

.arrowRCartImg:hover {
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

.arrowLCartImg:hover {
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.05, 1.05);
}
.cartFlex {
  position: relative;
  top: 20px;
  width: fit-content;
  /* max-width: 100%; */
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: 30px; */
  /* padding-left: 5%;
    padding-top: 10px; */
  background-color: #ffffff;
}
.cartFlexC {
  position: relative;
  width: fit-content;
  /* max-width: 100%; */
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* gap: 30px; */
  /* padding-left: 5%;
    padding-top: 10px; */
  background-color: #ffffff;
}

.cartFlexCPrice {
  position: relative;
  width: fit-content;
  /* max-width: 100%; */
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* gap: 30px; */
  /* padding-left: 5%;
    padding-top: 10px; */
  background-color: #ffffff;
  padding-top: 15px;
}

.tax {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin: 0%;
  padding-bottom: 5px;
}

.taxPrice {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin: 0%;
  padding-bottom: 5px;
}

.taxB {
  font-family: "Raleway";
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  padding-left: 5px;
  margin: 0%;
}

.order {
  position: relative;
  width: 279px;
  height: 43px;
  top: 20px;
  text-transform: uppercase;
  font-family: "Raleway";
  font-style: bold;
  font-weight: 600;
  font-size: 14px;
  line-height: 43px;
  text-align: center;
  border-style: solid;
  color: #ffffff;
  background-color: #5ece7b;
  border-color: #5ece7b;
  border-width: 2px;
  margin: 0%;
  margin-bottom: 5%;
}

.order:hover {
  cursor: pointer;
  border-color: #1d1f22;
  color: #1d1f22;
}
