.dbg {
  border-style: solid;
  color: red;
}

.dbgB {
  border-style: solid;
  color: blue;
}

.fixNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  /* padding-left: 10%; */
}

.mainNav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 66px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 30px; */
  padding-left: 5%;
  padding-top: 10px;
  z-index: 3;
  background-color: #ffffff;
  overflow-x: auto;
}

.navFlex {
  position: relative;
  width: fit-content;
  /* max-width: 100%; */
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* gap: 30px; */
  /* padding-left: 5%;
    padding-top: 10px; */
  background-color: #ffffff;
}

.categoryOff {
  position: relative;
  /* width: 5%; */
  /* height: 68px; */
  text-transform: uppercase;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  /* border-bottom: 2px solid #5ECE7B; */
  padding-bottom: 0px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0px;
  transition: 0.3s;

  /* display: block; */
  /* align-items: center; */

  color: #1d1f22;
}

.categoryOn {
  position: relative;
  /* width: 5%; */
  /* height: 68px; */
  text-transform: uppercase;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  border-bottom: 2px solid #5ece7b;
  padding-bottom: 0px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0px;
  transition: 0.3s;

  /* display: block; */
  /* align-items: center; */

  color: #5ece7b;
}

.categoryOn:hover {
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1, 0.95);
}
.categoryOff:hover {
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1, 0.95);

  border-bottom: 2px solid gray;
}

.brandIcon {
  position: fixed;
  left: 50%;
  padding-top: 10px;
}

.currencyIcon {
  z-index: 3;
  position: relative;
  /* left: 975px ; */
  padding-top: 15px;
  text-transform: uppercase;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #1d1f22;
  background-color: #ffffff;
}
.currencyBtn {
  padding: 5px;
  z-index: 3;
  transition: 0.3s;
  /* border-radius: 50%; */
}
.currencyBtn:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: #e2e2e2;
  box-shadow: 5px 10px 35px rgba(168, 172, 176, 0.25);
}
.currencyIconArrow {
  position: relative;
  left: 5px;
  bottom: 2px;
  padding-right: 3px;
}

.currencyMenu {
  position: fixed;
  width: 114px;
  height: fit-content;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.25);
  top: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.currencyItems {
  text-transform: uppercase;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  margin: 0px;
  margin-left: 25px;
  border-radius: 30%;
  transition: 0.3s;
}
.currencyItemsHolder {
  width: 100%;
  transition: 0.3s;
}
.currencyItemsHolder:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: #e2e2e2;
  box-shadow: 5px 10px 35px rgba(168, 172, 176, 0.25);
}

.cartMenu {
  z-index: 3;
  position: relative;
  padding-top: 16px;
  padding-left: 16px;
}

.cartIcon {
  transition: 0.3s;
  padding: 5px;
  /* border-radius: 20%; */
  /* border-spacing: 2px; */
}

.cartIcon:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: #e2e2e2;
  box-shadow: 5px 10px 35px rgba(168, 172, 176, 0.25);
}

.cartCountSmall {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #1d1f22;
  border-radius: 60%;
  bottom: 38px;
  left: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
}

.cartSmall {
  position: fixed;
  right: 6%;
  width: 325px;
  height: fit-content;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  /* box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.25); */
  top: 76px;
  background-color: white;
  /* padding-top: 10px;
    padding-bottom: 10px; */
}

#miniCartScroll::-webkit-scrollbar {
  width: 3px;
}

#miniCartScroll::-webkit-scrollbar-track {
  background: none;
}

#miniCartScroll::-webkit-scrollbar-thumb {
  background: #888;
}

#miniCartScroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll {
  position: relative;
  width: 100%;
  min-height: fit-content;
  height: fit-content;
  max-height: 500px;

  overflow-y: auto;
  overflow-x: hidden;
}
.myBag {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.myBag1 {
  position: relative;

  left: 20%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-right: 2px;
}

.myBag2 {
  position: relative;
  left: 20%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.viewBag {
  position: relative;
  width: 140px;
  height: 43px;

  text-transform: uppercase;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 43px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  margin: 0%;
  margin-bottom: 5%;
  color: #1d1f22;
}

.viewBag:hover {
  /* transition: 0.3s; */
  cursor: pointer;
  border-color: #5ece7b;
  color: #5ece7b;
}

.checkOut {
  position: relative;
  width: 140px;
  height: 43px;

  text-transform: uppercase;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 43px;
  text-align: center;
  border-style: solid;
  color: #ffffff;
  background-color: #5ece7b;
  border-color: #5ece7b;
  border-width: 2px;
  margin: 0%;
  margin-bottom: 5%;
}

.checkOut:hover {
  cursor: pointer;
  border-color: #1d1f22;
  color: #1d1f22;
}

.priceFlex {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 5%;
  /* padding-right: 10px ; */
}

.buttonFlex {
  position: relative;
  width: 92%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 4%;
  /* padding-right: 10px ; */
}
.total {
  position: relative;
  /* right: 130px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.tPrice {
  position: relative;
  /* left: 110px;
    bottom: 46px; */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.opacity {
  background-color: #393748;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 76px;
  left: 0px;
  z-index: 2;
  opacity: 22%;
  pointer-events: none;
}
